


.home{
  font-size: 20px;
  background: -webkit-linear-gradient(bottom, rgb(197, 22, 174), rgb(27, 25, 25));
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(231, 217, 88));
  font-family: 'Times New Roman', Times, serif; 
}
